upstream fastcgi_backend_dev {
{% if dev is defined %}
  server  unix:{{ php_fpm_dev_listen }};
{%endif%}
}

map $HTTP_HOST $mage_run_code {
  {{ domain_name }} base;
}

server {
server_name {{ domain_name }};
set $MAGE_ROOT {{ nginx_doc_root_dev }};
#include {{ nginx_doc_root }}/nginx.conf.sample;
}