upstream fastcgi_backend_staging {
{% if staging is defined %}
  server  unix:{{ php_fpm_staging_listen }};
{%endif%}
}

map $HTTP_HOST $mage_run_code {
  {{ project_name }}Staging.snaptec.co base;
}

server {
server_name {{ project_name }}Staging.snaptec.co;
set $MAGE_ROOT {{ nginx_doc_root_staging }};
#include {{ nginx_doc_root }}/nginx.conf.sample;
}