# Ansible managed
[Unit]
Description=Jenkins JNLP Slave
Wants=network.target
After=network.target

[Service]
EnvironmentFile=/etc/default/jenkins-slave
ExecStart=source /etc/default/jenkins-slave && /usr/bin/java -jar "${JENKINS_RUN}"/slave.jar -jnlpUrl "${JENKINS_URL}"/computer/"${JENKINS_NODE_NAME}"/slave-agent.jnlp -secret="${JENKINS_SECRET}"
User=jenkins
Group=jenkins
PermissionsStartOnly=true
Restart=always
LimitNOFILE=8192
RestartSec=10
StartLimitInterval=0

[Install]
WantedBy=multi-user.target