extension=apcu.so
[apcu]
apc.enabled = {{ php_enable_apc }}
apc.shm_size = {{ php_apc_shm_size }}
apc.enable_cli = {{ php_apc_enable_cli }}
apc.shm_size= {{ php_apc_shm_size }}
apc.max_file_size= {{ php_apc_max_file_size }}
