zend_extension={{ php_opcache_zend_extension }}
opcache.enable={{ php_opcache_enable }}
opcache.enable_cli={{ php_opcache_enable_cli }}
opcache.memory_consumption={{ php_opcache_memory_consumption }}
opcache.max_accelerated_files={{ php_opcache_max_accelerated_files }}
opcache.validate_timestamps={{ php_opcache_validate_timestamps }}




